.scheduleItem {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: #98971a;
  margin: 10px;
}

a {
  color: #d79921;
}

ul {
  list-style-type: none;
}

li {
  margin: 2px;
}

body {
  justify-content: center;
  color: #ebdbb2;
  background-color: #282828;
}
